<h2>日記一覧</h2>

<% @posts.reverse_each do |post|%>
    <div class = "daily
                  <% if post.qol == 0 %>    low
                  <% elsif post.qol == 1 %> medium
                  <% elsif post.qol == 2 %> high
                  <% end %>">
        <form action= "/daily/<%= post.id %>" method = "POST">
            <input name="_method" type="hidden" value="DELETE">
            <div class="title">
            [
            <% if post.qol == 0 %>    Low
            <% elsif post.qol == 1 %> Medium
            <% elsif post.qol == 2 %> High
            <% end %>
            ]
            <%= post.title %>
            <button type="submit" class = "delete">
                <img src="<%= asset_path('trash.png') %>" alt="Delete">
            </button>
            </div>
        </form>
        <div class = "letter"><%=simple_format(post.body) %></div>       
    </div>     

<% end %>
