/*indexのviewのcss*/

h2.list {
    margin-bottom: 5px;
}

/*QOLのカラーを説明*/
div.explain_color {
    text-align: center;
}

div.explain_color span.low{
    background-color: #add8e6;
} 
div.explain_color span.medium{
    background-color: #98fb98;
} 
div.explain_color span.high{
    background-color: #ffb8c1;
} 
/*//////////////////////////*/


/*daily全体の設定*/
.daily {
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5%;
}
/*QOLごとに日記のボックスの背景色を変更*/
.daily.low {
    background-color: #add8e6;
}

.daily.medium {
    background-color: #98fb98;
}

.daily.high {
    background-color: #ffb8c1;
}

/*/////////////タイトル//////////*/
.daily div.title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.daily div.date{
    text-align: right;
    font-size: 10px;
}

button.delete {
    background: none; /* 背景色を削除 */
    border: none; /* 境界線を削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
}

button.delete img {
    width: 15px;
    height: 15px;
}

button.delete img:hover {
background-color: gray;
}
/*/////////////////////////////*/

/*////////////////本文///////////////*/

div.letter {
    border: 3px solid #cccccc;
    padding-left: 1%;
    padding-right: 1%;
    word-wrap: break-word;
}


/*///////////////////////////////////*/

