.daily {
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5%;
}

/*QOLごとに日記のボックスの背景色を変更*/
.daily.low {
    background-color: red;
}

.daily.medium {
    background-color: green;
}

.daily.high {
    background-color: blue;
}

.daily h4{
    text-align: center;
}
button.delete {
    background: none; /* 背景色を削除 */
    border: none; /* 境界線を削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
}

button.delete img {
    width: 15px;
    height: 15px;
}